{% load static %}
{% load bootstrap4 %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<div class="container">
  <h2 class="welcome">Bem-vindo(a)!</h2>
  <p>Você está logado(a) como {{ user.username }}.</p>

  <h3 class="task-heading">Suas Tarefas</h3>
  <ul class="task-list">
    {% for task in tasks %}
      <li>
        <strong>Tarefa:</strong> {{ task.description }}<br>
        <strong>Data de Criação:</strong> {{ task.tasklog.created_at }}<br>
        <strong>Log:</strong> {{ task.tasklog.message }}<br>
        <strong>Status:</strong> {{ task.get_status_display }}<br>
        <form method="POST" action="{% url 'list:update_status' task.id %}">
          {% csrf_token %}
          <select name="status" class="status-select">
            <option value="IN_PROGRESS" {% if task.status == 'IN_PROGRESS' %}selected{% endif %}>Em andamento</option>
            <option value="COMPLETED" {% if task.status == 'COMPLETED' %}selected{% endif %}>Concluída</option>
          </select>
          <button type="submit" class="update-button">Atualizar Status</button>
        </form>
      </li>
    {% empty %}
      <li>Nenhuma tarefa encontrada.</li>
    {% endfor %}
  </ul>

  <h3 class="add-task-heading">Adicionar Tarefa</h3>

  <form method="POST" action="{% url 'list:home' %}" class="form-group">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Adicionar</button>
  </form>
</div>
{% endblock %}
